@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <form method="post" asp-page-handler="SubmitForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" size="12" maxlength="12" asp-for="Username" required />
        <br/><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" size="12" maxlength="12" asp-for="Password" required />
        <br/><br/>
        <input type="submit" value="Login" />
    </form>
</div>
